#page_complet
{
    width: 1200px;
    margin: 15px;
    background-color:#fffefc;
  
	
   /** border: 1px solid deeppink;**/
}

.Banniere{
    text-decoration: none;
  }

  .MoyenneRangCente{
    margin-left: 30%;
    border: 3px solid #73AD21
  }
/**********************/

    .contenant {
      position: relative;
      text-align: center;
      color: #EFF5FB;
    }
    .banne{
        text-align: center;
        font-size: 30px;
        margin-top: -50px;
      }