body
{
    background-color:rgb(227, 231, 245);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

  /***Entete****/
  #entete{
    display: flex;
    background-color: rgb(236, 234, 234);
    justify-content: center;
  }
  .image{
    width: 100%;
    height: 200px;
    box-shadow: 4px 4px 4px rgb(214, 208, 208);
}
.MessageColor{
  background-color: #ffa600;
  color: blue;
  margin: 15px;
  padding: 2px;
  width: 100px;
}

nav ul
{
    list-style-type: none;
    display: flex;
     align-items: center;
     margin-left: 600px;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 15px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;	
    margin-bottom: -50px;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/******Formulaire*******/ 
  
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    
  }
   
  label {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
   
  }
  .bien{
        text-align: center;
        font-size: 20px;
  }
  
  input:focus {
    background: #eaeaea;
  }
   
  select, input, textarea{
    width: 290px;
    height: 38px;
    margin-top: 10px;
  }
   
 
   
  input[type=checkbox] {
    width: 10px;
  }
   
  button {
    width: 150px;
    padding: 10px;
    
    height: auto;
  }

  input , select, button, label, textarea{
    margin-top: 10px;
  }

/*Affichage-note*/
  table{
    border-collapse: collapse;
  }
  
  th, td{
    border: 1px solid black;
    padding: 10px;
  }

  .table{
    margin-left: 30%;
  }

  .texte_centrer_ban {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    font-weight: 500px;
    font-family: Georgia, serif;
    text-align: center;
    transform: translate(-50%, -390%); 
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px 0px #ff9900; 
  }

    .woumiah_logo{
      width: 90px;
      height: 90px;
      margin : 10px;
    }

    #profil{
      margin-top: 50px; 
    }

/************************************************************************/

    #page_complet
{
    width: 1300px;
    margin: auto;
    background-color:#fffefc;
    height: auto;
  
   /** border: 1px solid deeppink;**/
}

.Banniere{
    text-decoration: none;
  }

  .MoyenneRangCente{
    margin-left: 30%;
    border: 3px solid #73AD21
  }
/**********************/

    .contenant {
      position: relative;
      text-align: center;
      color: #EFF5FB;
    }
    .banne{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        background-color: rgb(0, 4, 255);
        width: 400px;
        margin-left: 80px;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px #181818;
        box-shadow: 3px 3px 1px rgb(53, 50, 50);
        border-radius: 10px;
      }
      .banne2{
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
        background-color: rgb(255, 123, 0);
        width: 300px;
        margin-left: 140px;
        text-decoration: none;
        color: rgb(255, 255, 255);
       
        box-shadow: 3px 3px 1px rgb(53, 50, 50);
        border-radius: 10px; 
      }
      article a{
        text-decoration: none;
        text-decoration-color: none;
      }
  #corps{
        display: flex;
      }
     
    

      .imgDesc {
        float: right;
        width: 300px;
        height: 200px;
        margin: 10px;
        text-shadow: 2px 2px 2px seashell;
      }

      #id_section{
        width: 700px;
        margin: 30px;
        text-align: justify;
        color: #504C4B;
      }
      #Id_article{
        width: 700px;
        margin-top: 50px; 
      }

     #Id_article_cmpt2{
       display: flex;
       margin: 20px;
      
     }

    .verif_ajout_m{
      margin:  20px;
      text-align: center;
    }
      .image2{
        width: 600px;
        height: 400px;
        box-shadow: 3px 3px 1px rgb(53, 50, 50);

      }
    /*******Pied**************/

    .copy{
      text-align: center;
      color: rgb(221, 214, 221);
      
      padding: 20px;
    }

    #pied {
       background-color: rgb(26, 27, 27);
      
    }
    .sommaire a{
      color: rgb(221, 214, 221);
    }
  /**********compte**************/
  .compte{
    width: 700px;
  }

  #comptMC{
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 18px;
    
    }

  .comptMsg{
    padding-top: 10px;
    width: 200px;
    background-color: #ff9900;
    margin: 15px;
    height: 40px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;
  }
  .comptCmd{
    padding-top: 10px;
    width: 200px;
    background-color: #ff9900;
    margin: 15px;
    height: 40px;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;
  }
  .table_messagerie{
    margin: 2000px;
    width: 700px;
  }

 

  

  /********Commande**********/

  .label_qte{
    width: 80px;
  }

  textarea{
   height: 80px;
  }

  /***************Messagerie*********************/

  .table{
    width: 500px;
    margin-top: 10px;
   
    font-weight: bold;
  }

  .table_cmd{
    margin-top: 30px;
    max-height: 300px;
    overflow: auto;
  }
  #table_cmd{
    height: 300px;
    overflow:auto; 
  }

  .table_cmd_empl{
    height: 300px;
    overflow:auto; 
    margin-right: 30px;
  }

  .btn_verif{
    background-color: rgb(65, 65, 207);
  }

  .ajout_m{
    margin-left: 65px;
    width: 50%;
  }
  .veri{
    margin-left: 80px;
  }
/*
  .form_verif{
    margin-right: 10px;
    margin-top: 10px;
    width: 500px;
  }
  */
.titre_tb_mcd{
  text-align: center;
}

.form_email_gest{ 
 margin-top: -3px;
display: inline-block;
}
.form_email_empl{ 
  margin-top: -3px;
   display: inline-block;
   margin-bottom: 20px;
 }
/*
.fieldset_verif{
  width: auto;
  margin-top: 15px;
}
*/
.verification{
  display: inline-block;
  margin-left: 50px;
}

.modif_m{
  display: flex;
  margin-left: 20px;
}

.taill_radio{
  width:  70px;
  height: 15px;
}

.larg_bouton{
 width: 200px;
text-align: center;
 display: flex;
 float: left;
 margin-left: 70px;
}

#table_envoye{
margin-bottom: 30px;
padding-left: 40px;
max-height: 300px;
overflow: auto;
width: 100px;
}
#table_envoye1{
  margin-bottom: 30px;
  padding-left: 40px;
  max-height: 300px;
  overflow: auto;
  }

#table_reçu{
padding-left: 40px;
max-height: 300px;
overflow: auto;

}


#table_messagerie{
  margin-bottom: 30px;
  padding-left: 40px;
  max-height: 300px;
  overflow: auto;
  }
/*
#tables_envoie_reçu{
  display: flex;
  margin: 15px;
}
*/

.table_envoye{
  width: 1200px;
}
.table_reçu{
  width: 1200px;
}

.l_email{
  width: 200px;
}
.l_message{
  width: 450px;
}
.l_titre{
  width: 250px
}
.titre_table{
  background-color: rgb(84, 84, 199);
}
.l_messagerie{
  width: 350px;
}

.ligne_color{
  background-color: rgba(255, 140, 0, 0.966);
}
#table_cmd_empl{
  margin-top: 30px;
  padding-left: 40px;
  max-height: 300px;
  overflow: auto;
}

.sommaire{
  color: #ffffff;
  margin-top: 10px;
  margin-left: 30px;
  
}

/**Les media query*/

@media all and (max-width: 1028px){
	#page_complet
	{
  width: auto;
  text-align: center;
 
  }
  nav ul
	{
  flex-direction: column;

	}

  article{
    width: auto;
    text-align: center;
   
  }

  #corps{ 
    flex-wrap: wrap;
  }

  #contHeader{
    width: auto;
  }

  #entete{
    flex-wrap: wrap;
    width: auto;
  } 
  .cont{
    width: auto;
  }

  #id_section{
    width: auto;
  }

  #Id_article{
    width: auto; 
    margin-left: 200px; 
  }

  .texte_centrer_ban {
    position: absolute;
    top: auto;
    left: auto;
    font-size: auto;
    font-weight: auto;
    font-family: Georgia, serif;
    text-align: center;
    transform: translate(30%, -290%); 
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px 0px #ff9900; 
  }
}